
.containerCheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .containerCheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: solid 1px;
  }
  
  /* On mouse-over, add a grey background color */
  .containerCheck:hover input ~ .checkmark {
    background-color: lightgrey;
  }
  
  /* When the checkbox is checked, add a blue background */
  .containerCheck input:checked ~ .checkmark {
    background-color: #00fa15;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .containerCheck input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .containerCheck .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid rgb(0, 0, 0);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }





  
#warmupTitle {
  padding: 50px;
  text-align: center;
}


.container {

   
   text-align: center!important;
}

iframe {
  height: 250px;
}

.album py-5 bg-dark{
  border: 100px solid white;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
  {
    
  }
}

